@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display:wght@400;700&display=swap");
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  color: #29af8a !important;
  top: 35% !important;
}

@media screen and (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

@media screen and (min-width: 1024px) {
  .swiper-padding {
    padding: 0px 49px 180px !important;
  }
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

::-moz-selection {
  background: #29af8a;
}

::selection {
  background: #29af8a;
}

::-moz-selection {
  color: #fff;
}

::selection {
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Lato", sans-serif;
}

.bg--aliceBlue {
  background-color: #f5f7fa;
}

.font--softRed {
  color: #e2536b;
}

.font--rockBlue {
  color: #8d97ad;
}

.font--white {
  color: #fff;
}

.fon--135 {
  font-size: 13.5px;
}

.font--27 {
  font-size: 27px;
}

.font--36 {
  font-size: 36px;
}

.font--40 {
  font-size: 40px;
}

.font--bold {
  font-weight: bold;
}

.zindex--1 {
  z-index: -1;
}

.mb--80 {
  margin-bottom: 80px;
}

.t--m40 {
  top: -40px;
}

.t--m70 {
  top: -70px;
}

.mt--65 {
  margin-top: 65px;
}

.mt--155 {
  margin-top: 155px;
}

.mb--100 {
  margin-bottom: 100px;
}

.circle {
  width: 88px;
  height: 88px;
}

.box-shadow {
  box-shadow: 0px 5px 10px gainsboro;
  -webkit-box-shadow: 0px 5px 10px gainsboro;
  -moz-box-shadow: 0px 5px 10px gainsboro;
}

@media screen and (min-width: 1920px) {
  .container-1640 {
    max-width: 1640px;
  }
}

@media screen and (min-width: 1920px) {
  .container-1785 {
    max-width: 1785px;
  }
}

.w-90 {
  width: 90%;
  margin: 0px auto;
}

@media screen and (max-width: 768px) {
  .scissors--mobile {
    transform: scale(0.5);
  }
}
